div h1{
	font-size: 70px;
	font-family: times;
}
.left-col{
    width:30%;
    float:left;
    padding: 1%;
}
.sidebar{
    width:65%;
    float:right;
    padding:1%;
	font-size: 20px;
}
.one-third{
    width: 50%;
    float: left;
    padding: 0%;
}
.one-third1{
	width: 33%;
	float: left;
	padding: 2%;
}
.one-half{
    width: 48%;
    float: left;
    padding: 2%;
}
div ul{
	list-style: none;
}
@media (max-width:768px){
	div h1{
		padding: 120px;
		font-size: 50px;
	}
	.left-col{
        width: 100%;
        padding: 0;
    }
    .sidebar{
        width: 100%;
        padding: 50px;
    }
	div ul li h2{
		font-size: 21px;
	}
	.one-fourth{
		width: 48%;
		padding: 0;
	}
	.one-half{
		width: 100%;
		padding: 0;
	}
	.one-third{
        width: 100%;
        padding: 0;
    }
	.one-third1{
		width: 100%;
		padding: 0;
	}
	h2,h3,h4{
        font-size: 15px;
    }
}