
#head{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding:50px;
}
.intro{
	text-shadow: 2px 2px 3px gainsboro;
}
.text{
	font-size: 60px;
	font-family: times;
}
.left-col{
    width:55%;
    float:left;
    padding:1%;
	font-size: 25px;
}
.sidebar{
    width:40%;
    float:right;
    padding: 1%;
}
div h3{
	font-weight: 400;
}
.one-half{
    width: 48%;
    float: left;
    padding: 2%;
}
.one-fourth{
	width: 24%;
    float: left;
    padding: 2%;
	text-align: left;
}
.one-third{
    width: 33%;
    float: left;
    padding: 2%;
}
@media (max-width:768px){
	#head{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding:150px;
    }
	.left-col{
        width: 100%;
        padding: 0;
    }
    .sidebar{
        width: 100%;
        padding: 0;
    }
	.one-half{
        width: 100%;
        padding: 0;
    }
	.one-fourth{
		width: 48%;
		padding: 0;
	}
	.one-third{
        width: 100%;
        padding: 0;
	}
	h2,h3,h4{
        font-size: 15px;
    }
}